*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-image: url(Images/medi-back.jpg);
  background-size: 100%;
}
.menu{
  display: flex;
  position: relative;
}
.menu .sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  background: white;
}
.menu .sidebar img{
  width: 250px;
  height: 150px
}
.menu .sidebar h2{
  color: #2E4F6A;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.menu .sidebar ul li{
  padding: 15px;
  border-top: 2px solid #2E4F6A;
}
.menu .sidebar ul li:nth-last-child(1){
  padding: 15px;
  border-bottom: 2px solid #2E4F6A;
}
.sidebar p{
  color: black;
}
.main_medic{
  margin-left: 260px;
  padding: 20px;
}
.content .textbox{
  padding: 5px;
}
.content .logout{
  text-align: right;
}
.content{
  border-bottom: 3px solid #2E4F6A;
}
.cointainer {
  background-color: white;
}
.cointainerInfo{
  background-color: white;
  opacity: 0.8;
  height: 200px;
}
.btn{
    background-color: white;
    color: #2E4F6A;
}
